<p id="notice"><%= notice %></p>

<h1>Care Providers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @care_providers.each do |care_provider| %>
      <tr>
        <td><%= care_provider.name %></td>
        <td><%= link_to 'Show', care_provider %></td>
        <td><%= link_to 'Edit', edit_care_provider_path(care_provider) %></td>
        <td><%= link_to 'Destroy', care_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Care Provider', new_care_provider_path %>
